{%- doc -%}
  Intended for use in a block similar to the button block.

  @param {string} link - link to render
  @param {object} [block] - The block

  @example
  {% render 'button', link: '/collections/all' %}
{%- enddoc -%}

{% if block %}
  {% assign block_settings = block.settings %}
{% else %}
  {% assign block_settings = empty %}
{% endif %}

<a
  {% if link == blank %}
    role="link"
    aria-disabled="true"
  {% else %}
    href="{{ link }}"
  {% endif %}
  class="
    size-style
    {% if block_settings.style_class %}{{ block_settings.style_class }}{% else %}button{% endif %}
    {% if block and block_settings.style_class %}{{ block_settings.style_class }}--{{ block.id }}{% endif %}
  "
  {% if block_settings %}
    style="{% render 'size-style', settings: block_settings %}"
  {% endif %}
  {%- if block_settings.open_in_new_tab -%}
    target="_blank"
    rel="noopener noreferrer"
  {%- endif -%}
  {% if block %}{{ block.shopify_attributes }}{% endif %}
>
  {% if block_settings.label %}{{ block_settings.label }}{% else %}Button{% endif %}
</a>

{% stylesheet %}
  .link {
    text-decoration: none;
    text-decoration-color: currentcolor;

    &:hover {
      color: var(--color-primary-hover);
      text-decoration-color: transparent;
    }
  }
{% endstylesheet %}
